<ion-content no-scroll>
  <div class="ion-text-center">
    <img class="icon jello-vertical" src="assets/icon.png">
  </div>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <p class="parrafo">¡Puede seleccionar un usuario!</p>
        <ion-range [ticks]="true" step="1" [snaps]="true" [min]="-1" [max]="2" [(ngModel)]="usuario" (ionChange)="CargarForm()"></ion-range>
        <ng-container *ngIf="usuario != -1; else noValueSelected">
          <ion-item lines="none">
            <ion-avatar>
              <img [src]="'assets/icons/' + nombreUsuario+'.png'">
            </ion-avatar>
            <ion-label class="ion-text-center texto">{{nombreUsuario}}</ion-label>
          </ion-item>
        </ng-container>
        
        <ng-template #noValueSelected>
          <ion-item lines="none">
            <ion-avatar>
              <img src="assets/icons/hacker.png">
            </ion-avatar>
            <ion-label class="ion-text-center texto">No se selecciono a ningun usuario</ion-label>
          </ion-item>
        </ng-template>
      <br>
      <div class="linea"></div>
      <p class="parrafo">¡Tambien puede ingresar sus datos!</p>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item lines="none">
          <ion-input type="email" style="font-family: 'Questrial', sans-serif;" label="Correo Electrónico" labelPlacement="floating" [formControl]="email"></ion-input>
        </ion-item>
        <div color="danger" *ngIf="email.errors && (email.dirty || email.touched)">
          <ion-text color="danger" *ngIf="email.errors['required']">¡El campo no puede estar vacio!</ion-text>
          <ion-text color="danger" *ngIf="email.errors['email']">¡Debe ingresar un mail válido!</ion-text>
        </div>
        <br>
        <ion-item lines="none">
          <ion-input type="password" label="Contraseña" style="font-family: 'Questrial', sans-serif;" labelPlacement="floating" [formControl]="clave"></ion-input>
        </ion-item>
        <div color="danger" *ngIf="clave.errors && (clave.dirty || clave.touched)">
          <ion-text color="danger" *ngIf="clave.errors['required']">¡El campo no puede estar vacio!</ion-text>
          <ion-text color="danger" *ngIf="clave.errors['minlength']">¡Debe haber al menos 6 caracteres!</ion-text>
        </div>
        <br>
        <ion-button (click)="login()" size="default" [disabled]="!isFormValid || loginPressed">
          <ion-icon *ngIf="!loginPressed" slot="icon-only" name="log-in"></ion-icon>
          <ion-spinner *ngIf="loginPressed" name="bubbles"></ion-spinner>
        </ion-button>
      </form> 
    </ion-card-content>
  </ion-card>
</ion-content>
